@font-face {
    font-family: 'scribble-font';
    src: url('/fonts/Pencilant-Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'scribble-font', sans-serif;
    background-color: #e1d4c3;
}

/* INTRO */

.intro {
    font-size: large;
    font-weight: bolder;
}

.intro-row {
    display: flex;
    align-items: center;    
    gap: 32px;
    margin: 20px;
    border-radius: 0px;
}

.intro-row h1 {
    flex: 1;  
    margin-left: 20px;           
}

.intro-row .coffee {
    flex-shrink: 0;
    margin-right: 20px;
    padding: 30px;
}

/* SKILLS */

.skills {   
    margin: 20px;
    border-radius: 0px;
    padding-bottom: 10px;
}

.skills h1 {
    margin: 20px;
    margin-left: 20px; 
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px;
    margin-left: 20px;
    align-items: center;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0e3d2;
    box-shadow: 0 4px 16px rgba(0,0,0,0.18);      
}

/* PROJECTS */

.projects {
    margin: 20px;
    border-radius: 0px;
}

.projects h1 {
    margin-left: 20px; 
}

.projects-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 20px; 
}



.project-card {
    flex: 1;
    max-width: 400px;
    padding: 15px;
    background-color: #f0e3d2;
    margin-bottom: 80px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.18);
}

.project-card h2 {
    margin-top: 10px;
}

.project-card p {
    font-size: 20px;
}

.project-links {
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-links .project-btn {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #fff;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
}

.project-img {
    text-align: center; 
    filter: sepia(40%) contrast(90%);
    border: 2px solid black;
    cursor: pointer;
}

.project-img img {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}


/* EDUCATION */

.education {
    margin: 20px;
    border-radius: 0px;
}

.education h1 {
    margin-left: 20px; 
}

.education p {
    font-size: 1.4rem;
    margin-left: 20px; 
}

/* CONTACTS */

.contact {
    margin: 20px;
    border-radius: 0px;
}

.contact h1 {
    margin-left: 20px;
}

.contact a {
    color: black;
    text-decoration: none;
    font-size: larger;
}

.contactpara {
    margin-left: 20px;
    font-size: larger;
}

.skills,
.projects,
.education,
.contact,
.intro-row {
    box-shadow: 0 4px 16px rgba(0,0,0,0.18);
    background-color: #e0d0ba;
}