.navbar {
    width: 100vw;
    height: 100px;
    background-color: #291c0e;
    color: white;
    font-size: 28px;
    display: flex;
    align-items: center;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.right-section {
    display: flex;
    gap: 20px;
    text-align: right;
}

.left-section {
    display: flex;
    gap: 20px;
    margin-left: 40px;
    text-align: left;
}